:host {
    display: flex; /* 或 flex */
    width: 100%;
    height: 100%;
}

/* 容器背景 */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

@media (max-aspect-ratio: 1/1) {
  #back {
    display: block;
  }
}

.chat-header {
  background-color: #3b96ff;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  justify-content: space-between; /* 分散排列，左右两侧各自对齐 */
}

.session-name {
  text-align: center;
  flex-grow: 1; /* 让 session-name 在剩余空间中居中 */
  margin: 0;
}

.chat-header img {
  cursor: pointer; /* 增加指针悬停效果 */
}

/* 聊天内容区域 */
.chat-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    background-color: #ffffff;
}

/* 消息列表 */
.message-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 左侧消息容器 */
.message-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

/* 右侧消息容器 */
.message-right-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: flex-end;
}

/* 头像样式 */
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
}

.message-container .avatar {
    margin-right: 10px;
}

.message-right-container .avatar {
    margin-left: 10px;
}

/* 消息内容容器 */
.message-content {
    display: flex;
    flex-direction: column;
    max-width: 50%; /* 限制最大宽度 */
    width: fit-content;
    flex-grow: 0;
}

/* 消息文本基础样式 */
.message {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    word-wrap: break-word; /* 允许长文本换行 */
    display: block; /* 避免 inline-block 影响 max-width */
    white-space: pre-wrap; /* 让 <pre> 自动换行 */
    max-width: 100%; /* 限制最大宽度 */
}

.image{
}

/* 左侧消息样式 */
.message-container .message {
    background: #f0f0f0;
    align-self: flex-start; /* 让消息靠左对齐 */
    display: inline-block; /* 使内容块自适应文本宽度 */
}

.message-container .message-content {
    align-items: flex-start; /* 让用户名和消息都靠左对齐 */
}

/* 右侧消息样式 */
.message-right-container .message-content {
    align-items: flex-end; /* 让用户名和消息都靠右对齐 */
}

.message-right-container .message {
    background: #007bff;
    color: white;
    align-self: flex-end; /* 让消息靠右对齐 */
    display: inline-block; /* 使内容块自适应文本宽度 */
}

/* 用户名 */
.username {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}


/* 输入框和发送按钮 */
.chat-input {
    display: flex;
    gap: 5px;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    flex-direction: column;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    outline: none;
    resize: none
}

#send-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#send-button:hover {
    background-color: #0056b3;
}

.input-option {
    margin-right: 0.5rem;
}
