<div class="container">
  <div class="user-profile-container">
    <div class="user-avatar">
      <app-avatar [id]="commonData.clientUserId" type="user" (click)="selectImage()"/>
    </div>
    <div class="user-profile-value">
      <div class="profile-item">
        <label class="profile-label">昵称</label>
        <input class="profile-input" [(ngModel)]="userProfile.nickname">
      </div>
      <div class="profile-item">
        <label class="profile-label">自我介绍</label>
        <textarea class="profile-input" placeholder="" [(ngModel)]="userProfile.introduction"></textarea>
      </div>
    </div>
  </div>
  <div class="opt-button-container">
    <button (click)="saveUserProfile()">保存</button>
    <button (click)="backHome()">取消</button>
  </div>
</div>
<app-image-edit *ngIf="imageEditDialog" [file]="file" (close)="toggleImageEditDialog()" (confirm)="onConfirm($event)" ></app-image-edit>

