<div class="chat-container">
  <div class="message">
    <img class="avatar" src="/images/avatar/default-avatar.png" alt="清水みき的头像">
    <div class="message-content">
      <p class="username">清水みき</p>
      <p class="text">留言: お前はまふまふですか</p>
    </div>
    <button class="agree-button">同意</button>
  </div>
  <div class="message">
    <img class="avatar" src="/images/avatar/default-avatar.png" alt="PaulPerkenstein的头像">
    <div class="message-content">
      <p class="username">PaulPerkenstein</p>
      <p class="text">留言: welcome to the wide world of web</p>
    </div>
    <button class="agree-button">同意</button>
  </div>
</div>
