<div class="modal-overlay">
  <div class="modal-content">
    <button class="icon-close-btn" aria-label="关闭" (click)="onClose()" >&times;</button>

    <h2>创建服务器</h2>
    <p>一个名称以及图标就能赋予您的服务器个性。之后，您可以随时进行变更。</p>

    <img [src]="cropped || '/images/avatar/default-avatar.png'" alt="头像" class="avatar" (click)="selectFile()" />

    <div class="input-item">
      <label class="input-label">服务器名称</label>
      <input class="input">
    </div>

    <button class="button">创建</button>
  </div>
</div>
<app-image-edit *ngIf="imageEditDialog" [file]="file" (close)="toggleImageEditDialog()" (confirm)="onConfirm($event)" ></app-image-edit>
