<div class="search-container">
  <div class="search-bar">
    <p class="search-title">搜索用户</p>
    <div class="search-input">
      <input type="text" [(ngModel)]="user_id" placeholder="输入用户Id查询">
      <button (click)="searchUser()">搜索</button>
    </div>
  </div>
  <div>
    <div class="message" *ngFor="let userId of userList">
      <img class="avatar" src="/images/avatar/default-avatar.png" alt="头像">
      <div class="message-content">
        <p class="username">{{ commonData.userInfoIndexById[userId]?.data?.nickname || userId }}</p>
        <p class="text">{{ commonData.userInfoIndexById[userId]?.data?.introduction || userId }}</p>
      </div>
      <button class="agree-button">添加好友</button>
    </div>
  </div>
</div>
