<div class="search-container">
  <div class="search-bar">
    <p class="search-title">搜索用户</p>
    <div class="search-input">
      <input type="text" [(ngModel)]="userId" placeholder="输入用户Id查询">
      <button (click)="searchUser()">搜索</button>
    </div>
  </div>
  <div>
    <div class="message" *ngFor="let userId of userList">
      <app-avatar class="avatar" [id]="userId" type="user"/>
      <div class="message-content">
        <p class="username">{{ commonData.userInfoIndexById[userId]?.data?.nickname || userId }}</p>
        <p class="text">{{ commonData.userInfoIndexById[userId]?.data?.introduction || userId }}</p>
      </div>
      <button class="agree-button" (click)="sendFriendRequest(userId)" >添加好友</button>
    </div>
  </div>
</div>
