<div class="container">
    <div class="login-tabs">
      <span class="login-title">Surf 登录</span>
      <img  class="user-avatar" alt="" src="/images/avatar/default-avatar.png">
      <div class="input-container">
        <span>账号</span>
        <input class="input" [(ngModel)]="account" type="text">
        <span>密码</span>
        <input class="input" [(ngModel)]="password" type="password">
        <label style="vertical-align: middle;">
          <input type="checkbox" [(ngModel)]="rememberMe" style="vertical-align: middle;" />
          自动登录
        </label>
      </div>
      <button class="login-button" (click)="login()">登录</button>
      <a class="to_user_manager" (click)="this.router.navigate(['register']).then()" >没有账号?点击注册</a>
    </div>
</div>
