<div class="container">
  <div class="user-info-container">
    <div class="user-info">
      <img alt="avatar" class="avatar" height="64" ngSrc="images/avatar/default-avatar.png" width="64">
      <div class="user-info-context">
        <span class="username">林忆宁</span>
        <span class="user_id">用户ID: 1</span>
      </div>
    </div>
    <div class="self-introduction-container">
      <p class="self-introduction-title">自我介绍</p>
      <div>
        <p>林忆宁，中国内地女歌手，1997年7月17日出生于上海市，SNH48 Team X成员，女子偶像团体SNH48六期生。 2016年3月26日通过在SNH48星梦剧院新公演《偶像的黎明》出道。 2017年1月7日，参加SNH48第三届金曲大赏，表演的歌曲《梦想的旗帜》获得第44名。</p>
      </div>
    </div>
    <div class="option-button-container">
      <button class="btn">分享</button>
      <button class="btn">语音聊天</button>
      <button class="btn">发消息</button>
    </div>
  </div>
</div>
