<div class="container">
  <div class="user-info-container">
    <div class="user-info">
      <app-avatar [userId]="user"/>
      <div class="user-info-context">
        <span class="username">{{ commonDataService.userInfoIndexById[user].data["nickname"]}}</span>
        <span class="user_id">用户ID: {{ commonDataService.userInfoIndexById[user].data["user_id"]}}</span>
      </div>
    </div>
    <div class="self-introduction-container">
      <div>
        <pre>{{ commonDataService.userInfoIndexById[user].data["introduction"]}}</pre>
      </div>
    </div>
    <div class="option-button-container">
      <ng-template [ngIf]="user != commonDataService.clientUserId">
        <button class="btn">分享</button>
        <button class="btn">语音聊天</button>
        <button class="btn">发消息</button>
      </ng-template>
      <ng-template [ngIf]="user == commonDataService.clientUserId">
        <button class="btn" (click)="toUserProfileEditor()" >编辑资料</button>
      </ng-template>
    </div>
  </div>
</div>
