:host {
  display: flex; /* 或 flex */
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* 子元素不再拉伸 */
  background-position: center center;
  background-size: cover;
  background-image: url('/images/background/user_info.jpg');
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}

.user-info-container {
  width: 500px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
}

.user-info {
  display: flex;
}


.user-info-context {

  display: flex;
  flex-direction: column; /* 让用户名和消息在垂直方向排列 */
  padding-left: 1rem;
  justify-content: center;
}

.avatar {
  border-radius: 10px;
}

.user_id {
  margin-top: 1rem;
}

.self-introduction-container {
    color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  background: #3498db;
  padding: 10px;
}
.self-introduction-title {
  width: 100%;
  /*border-bottom: #526c82 solid 3px;*/
}

.option-button-container {
  margin-top: 20px;
  display: flex;
  width: 100% ;
  justify-content: center;
}

.btn {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
