.avatar {
  width: 128px;
  height: 128px;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  object-fit: cover; /* 保持裁剪缩放 */
  display: block;    /* 避免行内元素空隙影响 */
}

.input-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-item:last-child {
  margin-bottom: 0;
}

.input-label {
  font-size: 14px;
  margin-bottom: 4px;
  text-align: left;
}

.input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  resize: none
}

.save-button {
  margin-top: 1.2rem;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background: #057feb;
  border: none;
  color: white;
  transition: background 0.3s ease, transform 0.5s ease; /* 过渡 */
}

.save-button-disable {
  margin-top: 1.2rem;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background: #878787;
  border: none;
  color: white;
  transition: background 0.3s ease, transform 0.5s ease; /* 过渡 */
}


.save-button:hover {
  transform: scale(1.05); /* 鼠标悬停轻微放大 */
}




