<app-avatar #serverIcon class="avatar" type="server" [id]="serverId" (click)="selectFile()"></app-avatar>

<div class="input-item">
  <label class="input-label">服务器名称</label>
  <input class="input" [(ngModel)]="serverInfo.serverName">
</div>

<div class="input-item">
  <label class="input-label">服务器简介</label>
  <textarea class="input" [(ngModel)]="serverInfo.serverDescription"></textarea>
</div>

<div>
  <button
    [class.save-button]="hasChanges"
    [class.save-button-disable]="!hasChanges"
    [disabled]="!hasChanges"
    (click)="updateServerInfo()">
    保存
  </button>
</div>


<app-image-edit *ngIf="imageEditDialog" [file]="file" (close)="toggleImageEditDialog()" (confirm)="onConfirm($event)" ></app-image-edit>
