<div class="container">
  <div *ngIf="commonData.uiState.persistent" class="sidebar">
    <div class="user-options">
      <app-avatar class="avatar" [id]="commonData.clientUserId" type="user" (click)="toUserInfo()"/>
      <ng-container *ngFor="let option of options">
        <img (click)="onSelect(option)"
             [ngClass]="{'selected': selectedOption === option.name}"
             [alt]="option.name"
             class="icon"
             [src]="option.icon"
             [height]="option.height"
             [width]="option.width">
      </ng-container>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
