<div class="container">
    <div class="sidebar">
        <div class="user-options">
          <img class="avatar" src="/images/avatar/default-avatar.png">
            <ng-container *ngFor="let option of options">
                <img (click)="onSelect(option)"
                     [ngClass]="{'selected': selectedOption === option.name}"
                     [alt]="option.name"
                     class="icon"
                     [src]="option.icon"
                     [height]="option.height"
                     [width]="option.width">
            </ng-container>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
