<div class="settings-container">
  <div class="settings-header">登录设置</div>
  <div class="settings-section">
    <div class="settings-title">账号</div>
    <div class="settings-item">
      <label class="settings-label">自动登录</label>
      <label class="settings-toggle">
        <input [(ngModel)]="rememberMe" (ngModelChange)="onRememberMeChange($event)" type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
    <div class="settings-item">
      <label class="settings-label">退出登录</label>
      <button (click)="logout()"  class="settings-input">退出登录</button>
    </div>
  </div>
</div>
