:host {
  display: flex; /* 或 flex */
  width: 100%;
  height: 100%;
}

/* 手机端适配代码 */
@media (max-aspect-ratio: 1/1) {
  .layout-container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    height:100%;
  }
  .main-content {
    width: 100%;
  }
}


.contact-list {
  width: 100%;
  display: flex;
  height: 100%;
}

.sidebar {
  box-sizing: border-box;
  background-color: #3b96ff;
  color: #ecf0f1;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


.main-content {
  width: 100%;
  flex: 1;
  background-color: #ffffff;
}

.search-bar {
  flex: 0 0 auto;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #2c3e50;
  background-color: #ecf0f1;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-contact {
  background-color: #3498db;
  color: #ffffff;
}

.add-contact:hover {
  background-color: #2980b9;
}

.friend-requests {
  margin-top: 5px;
  background-color: #e67e22;
  color: #ffffff;
}

.friend-requests:hover {
  background-color: #d35400;
}

.contact-items {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #5fa7ff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-item:hover {
  background-color: #1781ff;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  margin-right: 10px;
}

.contact-name {
  font-size: 16px;
  color: #ecf0f1;
}
